<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear/>
<!--    <add name="MySql" connectionString="server=192.168.1.101;database=Restful;user id=linli8;password=linli8" providerName="Restful.Data.MySql"/>-->
    <add name="SqlServer" connectionString="data source=221.224.254.86;initial catalog=zhjp_dev;uid=prd;pwd=szzhjp_prd;" providerName="Restful.Data.SqlServer"/>
  </connectionStrings>
</configuration>
